.container {
    background-color: #fff;
    border: 1px solid #000;
}

/* Path: lab06/style.css */
.header {
    background-color: lightblue;
    color: lightblue;
    padding: 10px;
}

.item {
    background-color: lightblue;
    text-align: center;
    color: blue;
}